/*body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://i.ytimg.com/vi/kgyjW8w9ykc/maxresdefault.jpg)
}
td{
   text-emphasis-color:black; 
}
th{
    
}
tr {
    opacity: 0.4;
}*/
