<html xmlns="http://www.w3.org/1999/xhtml" ng-app="TreasureHunt">
<head>
    <title>TreasureHunt</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">

    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Treasure Hunt</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/hunt">Hunt</a></li>
            <li><a href="/hunts">Hunts</a></li>
            <li><a href="/clue">Clue</a></li>
            <li><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/login" ng-show="!account.isLoggedIn()">
                <span class="glyphicon glyphicon-user"></span> Login
              </a>
            </li>
            <li>
              <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">
                <span class="glyphicon glyphicon-log-out"></span> Logout
              </a>
            </li>
            <li ng-show="account.isLoggedIn()">[{{account.getUserName()}}]</li>
          </ul>
        </div>
      </nav>  
        <hr />

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
