<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="TreasureHunt" >
<head>
    <title>TreasureHunt</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agency - Start Bootstrap Theme</title>
    <!-- Bootstrap Core CSS
    <link href="css/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body  id="page-top" class="index" ng-controller="AccountController as account">
    <!-- <div class="container">
        <h1>TreasureHunt</h1>
        <div>
          <a href="/">Home</a> /
            <a href="/hunt">Hunts</a> /
            <a href="/huntadd">Add Hunts</a> /
            <a href="/huntteams">Hunt Teams</a> /
            <a href="/team">Teams</a> /
            <a href="/riddle">Riddles</a> /
            <a href="/about">About</a> /
        
         <a href="/secret">Secret</a> /
           <a href="/login" ng-show="!account.isLoggedIn()">Login</a>
           <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
           <div ng-show="account.isLoggedIn()">
               [{{account.getUserName()}}]
           </div> 
        </div>
        <hr />

        <ui-view></ui-view>
    </div> -->

        <!-- Navigation -->
        <nav class="navbar  navbar-default  navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">My Scout</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                       
                        <li>
                            <a class="page-scroll" href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>

                            <a class="page-scroll" href="/hunt">Hunts</a>
                        </li>
                        <!--added 4/25/16--> 
                        <li>
                            <a class="page-scroll" href="point">Points</a>
                        </li>
                        <li>
                            
                                <a href="/login" ng-show="!account.isLoggedIn()">Login</a>
                                <!-- <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a> -->
                                <div ng-show="account.isLoggedIn()">{{account.getUserName()}}
                             <a href="#" ng-click="account.logout()"> Logout</a>
                                </div>
                          
                        </li>
                        <li>

                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Dropdown Example
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>

                        </li>
                    </ul>
                </div> <!-- /.navbar-collapse -->
            </div> <!-- /.container -->
        </nav> <!-- /.navbar navbar-default navbar-fixed-top -->
    <div>
        <ui-view></ui-view>
    </div>
        <!-- Header -->
       
        
        <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>--
        <!-- Bootstrap Core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="lib/bootstrap/dist/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>*@

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@


    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
