<div class="container">
    <img class="center-block" src="../../images/clue_header.png" />
    <hr />
</div>
<div class="flex-container">
    <center><h2>{{controller.clue.title}}</h2></center>
    <div class="container-row" ng-repeat="team in controller.teams">
        <!--<div class="flex-row">
            <div>{{team.name}}</div>
            <div>{{team.points}}</div>
        </div>-->
    </div>
</div>
<div class="clue-test-box"><center>
    {{controller.clue.description}}
</center>
</div>
<form ng-submit="controller.save()">
    <div>
        <label>Name:</label>
        <input ng-model="controller.product.name" />
    </div>


    <h2>Where is {{controller.clue.title}}?</h2>
    <button ng-click="favorite.pickColor('red')">Redulan 9</button>
    <button ng-click="favorite.pickColor('green')">Greenuru</button>
    <button ng-click="favorite.pickColor('blue')">Bluemetikus</button>
    <br />
    <br />
    <input type="text" placeholder="Enter Answer" />
    <button type="submit">Submit</button>
</form>

<h2>{{controller.clue.title}} is on:</h2>
<output>{{favorite.color}}</output>


<!--<form action="action_page.php">
    <fieldset>
        <legend>Personal information:</legend>
        First name:<br>
        <input type="text" name="firstname" value="Mickey">
        <br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse">
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>-->