<div class="container">
    <img class="center-block" src="../../images/clue_header.png" />
    <hr />
</div>
<div class="flex-container">
    <h2>{{controller.clue.title}}</h2>
    <div class="container-row" ng-repeat="team in controller.teams">
        <div class="flex-row">
            <div>{{team.name}}</div>
            <div>{{team.points}}</div>
        </div>
    </div>
</div>
<div class="clue-test-box">
    {{controller.clue.description}}
</div>
<form ng-submit="controller.save()">
    <div>
        <label>Name:</label>
        <input ng-model="controller.product.name" />
    </div>


    <h2>Where is {{controller.clue.title}}?</h2>
    <button ng-click="favorite.pickColor('red')">Redulan 9</button>
    <button ng-click="favorite.pickColor('green')">Greenuru</button>
    <button ng-click="favorite.pickColor('blue')">Bluemetikus</button>
    <br />
    <br />
    <input type="text" placeholder="Enter Answer" />
    <button type="submit">Submit</button>
</form>

<h2>{{controller.clue.title}} is on:</h2>
<output>{{favorite.color}}</output>