
<div class="container">
  <img class="center-block" src="../../images/home_header.png" />
  <hr />
  <button type="button" class="center-block btn btn-success btn-circle">
    <i class="glyphicon glyphicon-play"></i>
  </button>
</div>
<hr />
<div class="container">
  <div class="row">
      <div class="col-sm-3 cards" ng-repeat="hunt in controller.hunts">
        <img class="card-img-top" data-src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{hunt.name}}</h4>
          <p class="card-text">Description</p>
        </div>
    </div>
  </div>
</div>



  <!--<div>
    <div ng-repeat="hunt in controller.hunts">
      {{hunt.name}}
    </div>
  </div>-->



