<div class="container">
  <img class="center-block" src="../../images/hunt_header.png" />
  <hr />
</div>



<!--<h2>Home</h2>
<p>
    {{controller.message}}
</p>
<br />

<h2 class="ang-margin">Choose or Add a Hunt</h2>
<br />

<ul class="list-group" ng-repeat="hunt in controller.hunts">
    <li class="list-group-item">
        <span class="label label-default label-pill pull-xs-right"></span>
        <h4><a href="/huntview/{{hunt.id}}">{{hunt.name}}</a></h4>
    </li>
</ul>-->

<div id="nav">
    <table st-table="rowCollection" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Team</th>
                <th>Leaders</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in controller.teams">
                <!--<td><img ng-src="{{team.imageurl}}" id="point-image" /></td>-->
                <td>{{team.name}}</td>
                <td>{{team.points}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="section">
    <table st-table="rowCollection" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Clue</th>
                <th>Points</th>
                <th>More Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="point in controller.points">
                <td><img ng-src="{{point.image}}" id="point-image" /></td>
                <td>{{point.team}}</td>
                <td>{{point.score}}</td>
            </tr>
        </tbody>
    </table>
</div>
