<!--Search bar-->
  <div class="container">
    <img  class="center-block" src="../../images/hunts_header.png" />
    <hr />
      <div class="row">
        <div class="input-group col-md-4 center-block">
          <input type="text" class="search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <span class="btn btn-default" type="submit">
              <lable class="fa fa-search"></lable>
            </span>
          </span>
        </div>
      </div>
    </div>

<!--Card-->
<div class="container">
  <div class="row">
    <div class="col-sm-4 cards" ng-repeat="hunt in controller.hunts">
        <a href="/hunt/{{hunt.id}}">
            <img class="img-thumbnail" ng-src="{{hunt.imageURL}}">
            <h4 class="card-title">{{hunt.name}}</h4>
            <p class="card-text">{{hunt.story}}</p>
        </a>
    </div>
  </div>
</div>
