<div class="container">
  <img class="center-block" src="../../images/hunt_header.png" />
  <hr />
</div>



<!--<h2>Home</h2>
<p>
    {{controller.message}}
</p>
<br />

<h2 class="ang-margin">Choose or Add a Hunt</h2>
<br />

<ul class="list-group" ng-repeat="hunt in controller.hunts">
    <li class="list-group-item">
        <span class="label label-default label-pill pull-xs-right"></span>
        <h4><a href="/huntview/{{hunt.id}}">{{hunt.name}}</a></h4>
    </li>
</ul>-->
<!--<div class="flex-container-main">
    <div id="nav">
        <h2>Team Leaders</h2>                
        <div class="flex-container">
            <div class="flex-container" ng-repeat="team in controller.teams|orderBy:'-points'">
                <div class="flex-item">{{team.name}}</div>
                <div class="flex-item">{{team.points}}</div>
            </div>            
        </div>
    </div>
    <div id="section">
        <h2>Clue</h2>  
        <div class="flex-container">          
            <div class="flex-container" ng-repeat="team in controller.teams">
                <div class="flex-item">{{team.name}}</div>
                <div class="flex-item">{{team.points}}</div>
            </div>
        </div>
    </div>
</div>-->

<div class="flex-container-main">
    <div class="flex-container">
        <h2>Team Leaders</h2>
        <div class="container-row" ng-repeat="team in controller.teams">
            <div class="flex-row">
                <div>{{team.name}}</div>
                <div>{{team.points}}</div>
            </div>
        </div>        
    </div>
    <div class="flex-container-two">
            <h2>One Team</h2>  
        <div class="container-row" ng-repeat="team in controller.teams">
            <div class="flex-item">{{team.name}}</div>
            <div class="flex-item">{{team.points}}</div>
        </div>        
    </div>
</div>

