
<link href="../../css/site.css" rel="stylesheet" />
</br>
</br>
</br>
</br>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="containerr">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <div class="form-login">
                    <h4>Welcome back.</h4>
                    <form ng-submit="controller.login()">
                        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="e-mail" ng-model="controller.loginUser.email" />
                        </br>
                        <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="controller.loginUser.password" />
                        </br>
                        <div class="wrapper">
                            <span class="group-btn">
                                <input class="btn btn-primary btn-md" type="submit" value="Login" />      <a href="/register">Register</a>
                            </span>
                            <ul>
                                <li ng-repeat="error in controller.validationMessages">
                                    {{error}}
                                </li>
                            </ul>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>