 <head>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css">

</head>


<h2 class="ang-margin">
    <!-- <p>This is the Treasure Hunt name.</p> -->
    {{controller.hunt.name}} Treasure Hunt
</h2>


<div class="row">
    <div class="col-md-10">
        {{controller.team.name}} Team - {{controller.team.points}} points<!-- This is the Team name and Team score. -->
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-2">

    </div>

        <div class="col-md-4">
            
            <p ng-repeat="riddle in controller.riddles">
                <!-- Do we really want to display all of this stuff? -->
                <!-- How to get IsAnswered to display as a check box? -->
                {{riddle.title}} - {{riddle.points}} - {{riddle.completed}}
            </p>

        </div>

    <div class="col-md-4">
        <!-- This is just a test to display something in the second column... -->
        <p ng-repeat="riddle in controller.riddles">{{riddle.title}}</p>

        <!-- This is what I want to display,  but I haven't worked out the controller to display this stuff... -->
        We want something to display here...
        {{focusriddle.title}}<br />
        {{focusriddle.clue}}<br />
        {{focusriddle.completed}}<br />

        <div>
            <form ng-submit="controller.submitAnswer()">
                <div>
                    <div>

                    </div>
                    <input type="text" ng-model="controller.riddle.answer" placeholder="Answer" />
                </div>
                <input type="submit" value="Answer" />
            </form>
        </div>
    </div>

    </div> <!-- End class = "row" -->