<div><!--class="point-body"-->

    <h2 class="ang-margin">Points</h2>
    <!--<p>
        {{controller.message}}
    </p>

    <div>
        <ul>
            <li ng-repeat="point in controller.points">
                {{point.rank}} - {{point.team}} - {{point.score}}
            </li>
        </ul>
    </div>-->

    <table st-table="rowCollection" class="table table-bordered">
        <thead>
            <tr>
                <th>Team</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr ng-repeat="point in controller.points">
                <td>{{point.team}}</td>
                <td>{{point.score}}</td>
            </tr>-->
            <tr>
                <td>Badger</td>
                <td>52</td>
            </tr>
            <tr>
                <td>Condor</td>
                <td>55</td>
            </tr>
            <tr>
                <td>Centipede</td>
                <td>42</td>
            </tr>
            <tr>
                <td>Dragon</td>
                <td>537</td>
            </tr>
            <tr>
                <td>Ferret</td>
                <td>44</td>
            </tr>
            <tr>
                <td>Flame</td>
                <td>52</td>
            </tr>
        </tbody>
    </table>

    <div>Howdy from the points page.</div>
</div>